<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.ssm.us.mapper.B_tagMapper">
	<!-- 查询所有的类别标签 -->
	<select id="findALlTags" resultType="B_tag">
		select * from b_tag
	</select>
	<!-- 结合文章表 查询所有的标签 -->
	<!-- <select id="findAll" resultType="B_tag"> select tag.*,nvl(w.articlenum,0) 
		as articlenum from (select g.tagid,count(1) as articlenum from (select t.tagid 
		from b_tag t inner join b_article a on t.tagid = a.tagid ) g group by g.tagid) 
		w right join B_TAG tag on w.tagid = tag.tagid order by w.tagid </select> -->
	<!-- 查询所有标签（忽略大小写）及标签对应的文章数 -->
	<select id="findAll" resultType="B_tag">
		select g.tagname
		tagname,count(g.tagname) as articlenum from
		(select lower(t.tagname) tagname from b_tag t inner join b_article a on
		t.tagid = a.tagid ) g
		group by g.tagname
	</select>

	<!--通过标签名 查询标签信息及标签对应的文章数 -->
	<select id="tagInfo" resultType="B_tag">
		select * from (select g.tagname tagname,count(g.tagname) as articlenum from
		(select lower(t.tagname) tagname from b_tag t inner join b_article a on
		t.tagid = a.tagid ) g
		group by g.tagname) tag
		<if test="_parameter!= null ">
			where tag.tagname like '${_parameter}'
		</if>
	</select>
	<!-- 结合文章表（返回所引用对应类别的文章数）查询 （个人 的tusid） 所有的标签 -->
	<select id="findAllByUsid" resultType="B_tag" parameterType="B_tag">
		select tag.*,nvl(w.articlenum,0) as articlenum from
		(select
		g.tagid,count(1) as articlenum from
		(select t.tagid from b_tag t inner
		join b_article a on t.tagid = a.tagid ) g
		group by g.tagid) w
		right join
		B_TAG tag on w.tagid = tag.tagid where tag.tusid = #{tusid} order
		by
		w.tagid
	</select>

	<select id="findTag" parameterType="string" resultType="boolean">
		select
		count(1) from b_tag where tagname=#{tagname}
	</select>

	<!-- 查询标签对应文章数的排行（前十） -->
	<select id="TagAnalytics" resultType="B_tag">
		select n.*,rownum
		from (select g.tagname tagname,count(g.tagname) as articlenum from
		(select lower(t.tagname) tagname from b_tag t inner join b_article a
		on t.tagid = a.tagid ) g
		group by g.tagname ORDER BY articleNum DESC ) n where 10>=rownum
	</select>



	<resultMap type="PaginationBean" id="PaginationBeanMap">
		<collection property="rows"
			column="{pageSize=pageSize,currPage=currPage}" ofType="B_tag" select="getPartTag" />
	</resultMap>
	<select id="partTag" parameterType="PaginationBean" resultMap="PaginationBeanMap">
		select count(1) total ,ceil(count(1)/${pageSize}) totalPage ,
		${currPage}currPage,${pageSize} pageSize from b_tag
	</select>

	<select id="getPartTag" resultType="B_tag">
		select * from (select
		n.*,rownum rn from
		(select * from b_tag order by 1)n where
		${currPage}*${pageSize}>=rownum) t
		where
		rn>(${currPage}-1)*${pageSize}
	</select>
	<!-- 更改类别标签信息 -->

	<!-- 添加类别表签 -->
	<insert id="insertTag" parameterType="B_tag">
		insert into
		b_tag(tagid,tagname,tusid)
		values(seq_tagid.nextval,#{tagname},#{tusid})
	</insert>

	<update id="modifyTag" parameterType="B_tag">
		update b_tag
		<set>
			<if test="tagname!=null">
				tagname=#{tagname}
			</if>
		</set>
		where tagid=#{tagid}
	</update>
	<!--删除类别标签 -->
	<delete id="deleteTag">
		delete from b_tag where tagid=#{tagid}
	</delete>
</mapper>